<div id="<%= dom_id challenge %>">
  <p>
    <strong>Number:</strong>
    <%= challenge.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= challenge.description %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= challenge.points %>
  </p>

  <h2>Scores:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Regular Points</th>
        <th>Bonus Points</th>
      </tr>
    </thead>
    <tbody>
      <% challenge.results.includes(:user).order('users.name').each do |result| %>
        <tr>
          <td><%= result.user.name %></td>
          <td><%= result.regular_points %></td>
          <td><%= result.bonus_points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
