<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Points To Win</th>

      <% if current_user&.team? %>
        <th>Obtained Points</th>
        <th>Bonus Points</th>
        <th>Status</th>
      <% else %>        
      <th>Actions</th>
      <% end %>    
      </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.number %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.points %></td>
        
        <% if current_user&.team? %>
          <% result = @results[challenge.id] %>

          <td><%= result ? result.regular_points : 0 %></td>
          <td><%= result ? result.bonus_points : 0 %></td>
          <td><%= result&.status.presence || 'Not Attempted' %></td>
        <% else %>
          <td><%= render 'application/index_actions', item: challenge %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.team? %>
  <p><strong>Total Points: <%= current_user.total_points %></strong></p>
<% end %>

<% if can? :create, Challenge %>
  <%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %>
<% end %>

<% if can? :import, Challenge %>
  <%= link_to 'Import Challenges', import_form_challenges_path, class: 'btn btn-secondary' %>
<% end %>

<% if can? :export, Challenge %>
  <%= link_to 'Export Challenges', export_challenges_path, class: 'btn btn-secondary' %>
<% end %>