<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <% if current_user&.team? %>
        <th>Points To Win</th>
        <th>Obtained Points</th>
        <th>Bonus Points</th>
      <% else %>
        <th>Points To Win</th>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.number %></td>
        <td><%= challenge.description %></td>

        <% if current_user&.team? %>
          <% result = @results[challenge.id] %>

          <td><%= result ? result.regular_points : 0 %></td>
          <td><%= result ? result.bonus_points : 0 %></td>
        <% else %>
          <td><%= challenge.points %></td>
          <td><%= render 'application/index_actions', item: challenge %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% # TODO: Display score stats, like totals %>

<% # TODO: Display the status of the task (not attempted, partially completed, completed), Unsure where the logic should live%>

<% if can? :create, Challenge %>
  <%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %>
<% end %>
