<% # Connected to the scoring channel to update the score in real time for teams %>
<div data-controller="challenge-updates challenge-sorting group-updates" data-challenge-updates-user-id-value="<%= current_user.id if current_user&.team? %>" data-group-updates-user-id-value="<%= current_user.id if current_user&.team? %>">
  <% # Different sort options for teams and scorers %>
  <%= render 'application/search_form', sort_options: current_user&.team? ? {
    "Number" => "number",
    "Description" => "description",
    "Points To Win" => "points",
    "Obtained Points" => "regularPoints",
    "Bonus Points" => "bonusPoints",
    "Status" => "status"
    } : {
    "Number" => "number",
    "Group ID" => "groupId",
    "Description" => "description",
    "Points To Win" => "points",
    }
  %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>

        <% unless current_user&.team? %>
          <th>Group ID</th>
        <% end %>
        <th>Description</th>
        <th>Points To Win</th>
        
        <% if current_user&.team? %>
          <th>Obtained Points</th>
          <th>Bonus Points</th>
          <th>Status</th>
        <% else %>        
          <th>Actions</th>
        <% end %>    
      </tr>
    </thead>
    <tbody data-group-updates-target="challengeList">
      <%= render 'challenge_list', challenges: @challenges, results: @results, current_user: current_user %>
    </tbody>
  </table>

  <% if current_user&.team? %>
    <p><strong>Total Points: <span data-challenge-updates-target="totalPoints"><%= current_user.total_points %></span></strong></p>
  <% end %>

  <% if can? :create, Challenge %>
    <%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %>
  <% end %>

  <% if can? :import, Challenge %>
    <%= link_to 'Import Challenges', import_form_challenges_path, class: 'btn btn-secondary' %>
  <% end %>

  <% if can? :export, Challenge %>
    <%= link_to 'Export Challenges', export_challenges_path, class: 'btn btn-secondary' %>
  <% end %>
</div>