<h1>Challenges</h1>

<%# TODO: If the user is a team, this should display the "Max Points" (the points on the challenge), "Obtained Points" (from the result that matches their user and the challenge). Remember to do includes to prevent N+1 problem. %>


<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Points</th>
      <%# TODO: Actions is shown even when empty. Probably remove. %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.number %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.points %></td>
        <td>
          <% if can? :show, challenge %>
            <%= link_to 'Show', challenge, class: 'btn btn-sm btn-info' %>
          <% end %>

          <% if can? :update, challenge %>
            <%= link_to 'Edit', edit_challenge_path(challenge), class: 'btn btn-sm btn-warning' %>
          <% end %>

          <% if can? :destroy, challenge %>
            <%= link_to 'Delete', challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Challenge %>
  <%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %>
<% end %>
