<% # TODO: Add undo button for edits. %>
<% # TODO: Add visual confirmation for edits. %>

<div data-controller="scoring">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Points To Win</th>
        <th>Regular Points</th>
        <th>Bonus Points</th>
<th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @challenges.each do |challenge| %>
        <tr>
          <td><%= challenge.number %></td>
          <td><%= challenge.description %></td>
          <td><%= challenge.points %></td>
          
          <% result = @results[challenge.id] %>
          <td>
            <div class="input-group">
              <input type="number" class="form-control form-control-sm" 
                      data-scoring-target="regularPoints"
                      data-action="change->scoring#updateScore"
                      data-challenge-id="<%= challenge.id %>"
                      data-user-id="<%= @team.id %>"
                      value="<%= result&.regular_points || 0 %>">
            </div>
          </td>

          <% # TODO: Add a button to award full points that just sets regular points to the points amount. %>

          <td>
            <div class="input-group">
              <input type="number" class="form-control form-control-sm" 
                      data-scoring-target="bonusPoints"
                      data-action="change->scoring#updateScore"
                      data-challenge-id="<%= challenge.id %>"
                      data-user-id="<%= @team.id %>"
                      value="<%= result&.bonus_points || 0 %>">
            </div>
          </td>

          <td><%= result&.status.presence || 'Not Attempted' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<p><strong>Total Points: <%= @team.total_points %></strong></p>

<nav aria-label="Navigate to other teams for scoring">
  <ul class="pagination">
    <% User.teams_by_name.each do |user| %>
      <li class="page-item"><a class="page-link" href="<%= scoring_score_path(user) %>"><%= user.name %></a></li>
    <% end %>
  </ul>
</nav>
